

.space {
    width: 500px;
    height: 500px;
    border: 3px solid black;
    position: relative;
}

canvas.main {
    width: 500px;
    height: 500px;
}

.slides {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fe3;
    -webkit-flex-direction: column;
}

.slides .slide {
    -webkit-flex: 1 1 40%;
    margin: 10% 10%;
}


